<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=no" /> 
		<!--uc强制全屏-->
		<meta name="full-screen" content="yes">
		<!--QQ强制全屏-->
		<meta name="x5-fullscreen" content="true">	
		<title>注册</title>
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/weui.min.css">
		<link rel="stylesheet" href="css/jquery-weui.min.css">		
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/vue.js"></script>
		<script src="js/axios.js"></script>			
	</head>
	<body>
	<div id="loadingDiv"><div id="loadImg"></div></div>				
	<div class="whole">
<!--内容START-->	
		<div class="login-header">
			<div class="l-title">
				用户注册
			</div>
		</div>	
		<div class="login-content">
				<div class="register-username"><span><input type="number" placeholder="请输入您的手机号" id="phone-num" v-model="userInfo.username"/><button id="r-code" @click="sendCode" onclick="getCode();">获取验证码</button></span></div>
				<div class="login-username"><span><input type="number" placeholder="请输入验证码" id="username" v-model="userInfo.uCode"/></span></div>
				<div class="login-pwd"><span><input type="password" placeholder="请输入您的密码（6-18位，数字、字母均可）" id="password" v-model="userInfo.password"/><i class="fa fa-eye-slash" id="eyes"></i></span></div>
				<div class="register-yqm" v-if="isNeed"><span><input type="number" placeholder="推荐人手机号（必填）" v-model="userInfo.fNum"/></span></div>
				<div class="register-yqm" v-if="isNeed==false"><span><input type="number" placeholder="推荐人手机号（选填）" v-model="userInfo.fNum"/></span></div>
				<div class="register-yqm" v-if="isNeed"><span><input type="number" placeholder="推荐企业名称（必填）" v-model="userInfo.gsName"/></span></div>
				<div class="l-tip">注册/登录即代表同意<a href="rule.html">《好房U购用户协议》</a></div>
				<div class="login-sub"><a><button @click="goReg">立即注册</button></a></div>
				<div class="login-find">
					<a :href="isNeed?'login.html?MemberType=2':'login.html'">已有账号?</a>
					<div class="clear"></div>
				</div>				
		</div>
		<a class="gohome" href="index.html"  style="bottom: 0.8rem;right: 0.4rem;">首页</a>
	</div>	
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-weui.min.js"></script>	
	<script src="js/swiper.min.js"></script>
	<script src="js/city-picker.min.js"></script>
	<script type="text/javascript" src="js/main.js" ></script>		
	<script type="text/javascript" src="js/ajax/register.js" ></script>		
		<script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.4.0.js'></script>
		<script type="text/javascript" src="js/wx.js"></script>	
			<script>
		setTimeout(function(){
			wxShared();
		},500)					
			</script>		
	<script>
		$(function(){
			$("#eyes").click(function(){
				if($(this).hasClass('fa-eye-slash')){
					$(this).removeClass('fa-eye-slash').addClass('fa-eye');
					$(this).siblings('input').attr("type","text");
				}else{
					$(this).removeClass('fa-eye').addClass('fa-eye-slash');
					$(this).siblings('input').attr("type","password");
				}
			})
		//手机号为11位数时颜色改变	
		$('#phone-num').bind('input propertychange',function () {
			if($(this).val().length==11){
				$(this).siblings('button').css("color",'#f7524c');
			}else{
				$(this).siblings('button').css("color",'#c0c4c9');
			}
		})			
		})
	</script>

<script>
	// 验证码倒计时效果
			var i;  
			function getCode(){ 
				if(document.getElementById('phone-num').value!=""&&document.getElementById('phone-num').value.length==11){
					$("#r-code").attr({"disabled":"disabled"});  
					i = self.setInterval("countdown()", 1000);  
			   }else{
					$.toast("号码格式错误", "forbidden", function() {
					  //do something
					  document.getElementById('phone-num').focus();
					});
			   }
			}    
			var int = 60  
			function countdown() {  
				 document.getElementById("phone-num").setAttribute("disabled","disabled");
				document.getElementById("r-code").innerHTML = int + "秒后重新发送";  
				int--;  
				if(int<0){  
					i=window.clearInterval(i)//结束  
					int = 60; //重新赋值  
					$("#r-code").removeAttr("disabled").html("重新获取校验码");//按钮可用  
					document.getElementById("phone-num").removeAttribute("disabled");
				}  
			} 
	$(function(){						
		$(".agree i").click(function(){
			if($(this).hasClass('fa-check-square')){
				$(this).addClass('fa-square-o').removeClass("fa-check-square");
			}else{
				$(this).addClass('fa-check-square').removeClass("fa-fa-square-o");
			}
		})
	})
</script>	
	</body>
</html>
